* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #121212;
}

#login,
#landing {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing header {
    text-align: center;
    margin-bottom: 2em;
}

#landing h1 {
    font-size: 3.25em;
    margin: 0.2em 0;
}

#landing #login-btn {
    padding: 1em 2em;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    background-color: #1DB954;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#landing #login-btn:hover {
    background-color: #1ed760;
}

#landing #login-btn img {
    height: 1.35em;
    vertical-align: middle;
    margin-right: 0.5em;
}

#content {
    padding: 2em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

#content #logout-btn {
    padding: 1em 1.5em;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#content #logout-btn:hover {
    background-color: #1ed760;
}   

#content #top-artists {
    list-style: none;
    padding: 1em;
}

#content #top-artists li {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 1em 0;
    padding: 0.5em;
    background-color: #1e1e1e;
    border-radius: 0.5em;
}

#content #top-artists img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 1em;
}