* {
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #121212;
}

#landing {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

#landing h1 {
  font-size: 3.25em;
  margin: 0;
}

#landing p {
  margin: 0.2em 0 1.5em 0;
  font-size: 1.25em;
}

#landing button {
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 800;
  color: white;
  background-color: #1DB954;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#landing button img {
  height: 1.35em;
  vertical-align: middle;
  margin: 0 0.5em 0 0.5em;
}

#landing button:hover {
  background-color: #1ed760;
}

#content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

#content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

#content header button {
    padding: 1em 1.5em;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#content header button:hover {
    background-color: #1ed760;
}

#top-artists ul {
  list-style: none;
  padding: 1em;
}

#top-artists li {
  font-size: 1.35rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding: 0.5em;
  background-color: #1e1e1e;
  border-radius: 0.5em;
}

#top-artists li img {
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  margin-right: 1em;
}