* {
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #121212;
}

.landing {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

.landing h1 {
  font-size: 3.25em;
  margin: 0;
}

.landing p {
  margin: 0.2em 0 1.5em 0;
  font-size: 1.25em;
}

.landing button {
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 800;
  color: white;
  background-color: #1DB954;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.landing button img {
  height: 1.35em;
  vertical-align: middle;
  margin: 0 0.5em 0 0.5em;
}

.landing button:hover {
  background-color: #1ed760;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.content header button {
    padding: 1em 1.5em;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.content header button:hover {
    background-color: #1ed760;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1em;
}

.artist-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill, 
    minmax(140px, 1fr)
  );
}

.artist-card {
  background: #181818;
  border-radius: .75em;
  padding: 1em;
  text-align: center;
  transition: transform 0.2s;
}

.artist-card:hover {
  transform: scale(1.05)
}

.artist-image {
  width: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}

.artist-name {
  margin-top: 0.5em;
  font-weight: 700;
}

.top-tracks {
  margin-top: 4em;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.track-card {
  display: flex;
  align-items: center;
  gap: 1em;
  background: #181818;
  border-radius: 0.75em;
  padding: 0.75em 1em;
  transition: background 0.2s, transform 0.2s;
}

.track-card:hover {
  background: #1e1e1e;
  transform: scale(1.02);
}

.track-image {
  width: 64px;
  height: 64px;
  border-radius: .25em;
  object-fit: cover;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-name {
  font-weight: 600;
  color: #fff;
  margin: 0;
  font-size: 1rem;
}

.track-artist {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin: 0.25em 0 0;
}